*{
    margin:0;
    padding:0;
}
body,html{
    height:100%;
}
#header-div{    
    background-color:#303030;
    height:76px;    
    #logo-div{
        margin-left:30px;
        margin-top:20px;
        width:262px;
        height:45px;
        float:left;
    }
    #submenu-div{
        text-align:center;
        width:1000px;
        position:absolute;
        right:0;
        height:75px;
        li{
            float:right;
            width:82px;
            height:82px;
            a{
                text-align:center;
                height:67px;
                width:82px;
                padding-top:8px;
                display:block;
                color:#fff;
                img{
                    margin:auto;
                    display:block;
                    height:35px;
                }
                span{
                    margin-top:6px;
                    display:block;
                }
            }
        }   
    }
}
#menu-div{
    .clear{
        clear:both;
        float:none;
        font-size:0;
        margin:0;
        padding:0;        
        display:block;
    }    
    background:#575757;
    height:41px;
    border-bottom:1px solid #212121;
    ul{
        .fix-spacel{
            margin-left:15px;
        }
       li{
           float:left;
           display:block;
           height:41px;
           line-height:41px;
           position:relative;
           a{
               float:left;
               color:#fff;
               padding:0 12px;
               display:block;  
               span{
                   margin-left:10px;
               } 
               .num{
                   width:32px;
                   height:16px;
                   background:url(/imgs/index-11_22.png) no-repeat scroll;
                   display:inline-block;
                   line-height:16px;
                   vertical-align:middle;
                   text-align:center;
               }            
           }
           .muneFG{
               height:13px;
               width:0;
               border-right:1px solid #656565;
               margin-top:15px;
               border-left:1px solid #303030;
               display:inline-block;
           }
       }
    }
}
#list-div{  
    display:inline-block;   
    width:180px;
    height:652px;       
    overflow:auto;
    background:#212121;
    #tabbar-div{
        padding-left:10px;
        height:34px;
        background:#303030;
        p .tab-front{
            line-height:33px;
            font-weight:bold;
            padding:4px 15px 4px 18px;
            cursor:pointer;
            font-size:14px;
            color:#fff;
        }
    }
    #main-div{          
        color:#fff;
        #menu-ul{
            .collapse{
                text-indent:40px;
                display:block;
                border-top:1px solid #7f7f7f;
                width:100%;
                line-height:42px;
                text-align:left;
                .menu-item{
                    font-size:12px;
                    height:30px;
                    line-height:30px;
                    display:block;
                    font-weight:normal;
                    background:#575757;
                    a{
                        color:#d7d7d7;
                    }
                }
            }
            .ico_1{
                background:#575757 url(/imgs/menu_1.png) 9px 0 no-repeat;
            }
            .ico_2{
                background:#575757 url(/imgs/menu_2.png) 9px 0 no-repeat;
            }
            .ico_3{
                background:#575757 url(/imgs/menu_3.png) 9px 0 no-repeat;
            }
            .ico_4{
                background:#575757 url(/imgs/menu_4.png) 9px 0 no-repeat;
            }
            .ico_5{
                background:#575757 url(/imgs/menu_5.png) 9px 0 no-repeat;
            }
            .ico_6{
                background:#575757 url(/imgs/menu_6.png) 9px 0 no-repeat;
            }
            .ico_7{
                background:#575757 url(/imgs/menu_7.png) 9px 0 no-repeat;
            }
            .ico_8{
                background:#575757 url(/imgs/menu_8.png) 9px 0 no-repeat;
            }
            .ico_9{
                background:#575757 url(/imgs/menu_9.png) 9px 0 no-repeat;
            }
            .ico_10{
                background:#575757 url(/imgs/menu_10.png) 9px 0 no-repeat;
            }
            .ico_11{
                background:#575757 url(/imgs/menu_11.png) 9px 0 no-repeat;
            }
            .ico_12{
                background:#575757 url(/imgs/menu_12.png) 9px 0 no-repeat;
            }
            .ico_13{
                background:#575757 url(/imgs/menu_13.png) 9px 0 no-repeat;
            }
            .ico_14{
                background:#575757 url(/imgs/menu_14.png) 9px 0 no-repeat;
            }
            .ico_15{
                background:#575757 url(/imgs/menu_15.png) 9px 0 no-repeat;
            }
            
        }
    }
}
#main{ 
    float:right;       
    height:500px;
    width:88%;
    iframe{
        width:100%;
        height:100%;
        border:0;
    }        
}
