body {
  background: url(/imgs/body_bj.jpg);
  background-color: #ccc;
  padding: 10px;
  min-width: 773px; }

h1 {
  border-bottom: 1px solid #ccc;
  color: #333;
  font-weight: normal;
  padding: 7px 10px;
  margin: 0 0 10px 0;
  overflow: hidden; }
  h1 .action-span a {
    float: right;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    background: #c43926 url("../imgs/icon_add02.gif") no-repeat 6px center;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    margin-top: 6px; }
  h1 .action-span1 {
    color: #4c4c4c;
    font-size: 18px;
    font-weight: normal; }
    h1 .action-span1 a {
      font-size: 18px; }
  h1 .help_sub {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    height: 26px; }

.tab-div {
  background: #f3f3f3;
  border: 1px solid #d7d7d7;
  margin: 0 0 10px 0;
  padding: 1px; }
  .tab-div #tabbar-div {
    margin-top: -12px;
    background: #efefef;
    padding-left: 10px;
    height: 39px; }
    .tab-div #tabbar-div .tab-front {
      background: #fefefe;
      height: 39px;
      line-height: 39px;
      display: block;
      float: left;
      padding: 0 20px;
      text-align: center;
      font-weight: bold;
      cursor: pointer; }
    .tab-div #tabbar-div .tab-back {
      background: #efefef;
      height: 39px;
      line-height: 39px;
      display: block;
      float: left;
      padding: 0 20px;
      text-align: center;
      cursor: pointer;
      font-size: 13px;
      color: #787878; }

#tabbody-div {
  background: #fff; }
  #tabbody-div img {
    vertical-align: middle; }
  #tabbody-div table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey; }
    #tabbody-div table input[type="text"] {
      margin: 5px 0; }
    #tabbody-div table tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit; }
      #tabbody-div table tbody tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit; }
        #tabbody-div table tbody tr .require-field {
          margin-left: 1em;
          font: 12px;
          color: #ff0000; }
        #tabbody-div table tbody tr select {
          margin: 5px 0; }
        #tabbody-div table tbody tr .label {
          text-align: right;
          vertical-align: top;
          font-weight: bold;
          padding: 5px 1em;
          width: 30%;
          line-height: 30px; }
        #tabbody-div table tbody tr .notice-span {
          color: #666; }
        #tabbody-div table tbody tr .special:link {
          margin: 0 5px;
          padding: 1px 5px;
          border: 1px solid #9104d0;
          border-right: 2px solid #278296;
          border-bottom: 2px solid #278296;
          background: #ddfff2;
          text-decoration: none;
          font-weight: 400; }
        #tabbody-div table tbody tr .button {
          padding: 5px 15px 5px;
          margin: 2px;
          border: none;
          background: #ff3f3f;
          color: #fff;
          cursor: pointer;
          border-radius: 3px; }

.button {
  padding: 5px 15px 5px;
  margin: 2px;
  border: none;
  background: #ff3f3f;
  color: #fff;
  cursor: pointer;
  border-radius: 3px; }

.button-div {
  text-align: center;
  padding: 3px 0; }
  .button-div .button {
    padding: 5px 15px 5px;
    margin: 2px;
    border: none;
    background: #ff3f3f;
    color: #fff;
    cursor: pointer;
    border-radius: 3px; }

#footer {
  background: #f3f3f3 url(/imgs/th_bg.gif) repeat-x;
  border: 1px solid #ddd;
  padding: 15px;
  color: #9cacaf;
  margin: 10px 0;
  text-align: center; }

.ke-container {
  border: 1px solid #CCC;
  background: #fff;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .ke-container .ke-toolbar {
    border-bottom: 1px solid #ccc;
    background-color: #f0f0ee;
    padding: 2px 5px;
    text-align: left;
    overflow: hidden;
    zoom: 1; }
    .ke-container .ke-toolbar .ke-separator {
      height: 16px;
      margin: 2px 3px;
      border-left: 1px solid #a0a0a0;
      border-right: 1px solid #fff;
      border-top: 0;
      border-bottom: 0;
      width: 0;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      display: block;
      float: left; }
    .ke-container .ke-toolbar .ke-outline {
      border: 1px solid #f0f0ee;
      margin: 1px;
      padding: 1px 2px;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      cursor: pointer;
      display: block;
      float: left; }
      .ke-container .ke-toolbar .ke-outline .ke-toolbar-icon {
        background-repeat: no-repeat;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        display: block; }
      .ke-container .ke-toolbar .ke-outline .ke-toolbar-icon-url {
        background-image: url(/imgs/default.png); }
      .ke-container .ke-toolbar .ke-outline .ke-icon-source {
        background-position: 0 0;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-undo {
        background-position: 0px -48px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-redo {
        background-position: 0px -64px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-preview {
        background-position: 0px -16px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-print {
        background-position: 0px -32px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-template {
        background-position: 0px -1072px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-code {
        background-position: 0px -960px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-cut {
        background-position: 0px -80px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-copy {
        background-position: 0px -96px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-paste {
        background-position: 0px -112px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-plainpaste {
        background-position: 0px -704px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-wordpaste {
        background-position: 0px -720px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-justifyleft {
        background-position: 0px -144px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-justifycenter {
        background-position: 0px -160px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-justifyright {
        background-position: 0px -176px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-justifyfull {
        background-position: 0px -192px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-insertorderedlist {
        background-position: 0px -208px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-insertunorderedlist {
        background-position: 0px -224px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-indent {
        background-position: 0px -240px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-outdent {
        background-position: 0px -256px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-subscript {
        background-position: 0px -272px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-superscript {
        background-position: 0px -288px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-clearhtml {
        background-position: 0px -1008px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-quickformat {
        background-position: 0px -1056px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-selectall {
        background-position: 0px -128px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-fullscreen {
        background-position: 0px -656px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-formatblock {
        background-position: 0px -336px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-fontname {
        background-position: 0px -352px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-fontsize {
        background-position: 0px -368px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-forecolor {
        background-position: 0px -384px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-hilitecolor {
        background-position: 0px -400px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-bold {
        background-position: 0px -416px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-italic {
        background-position: 0px -432px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-underline {
        background-position: 0px -448px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-strikethrough {
        background-position: 0px -464px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-lineheight {
        background-position: 0px -992px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-removeformat {
        background-position: 0px -480px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-image {
        background-position: 0px -496px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-multiimage {
        background-position: 0px -1232px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-flash {
        background-position: 0px -512px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-media {
        background-position: 0px -528px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-insertfile {
        background-position: 0px -1040px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-table {
        background-position: 0px -784px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-hr {
        background-position: 0px -592px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-emoticons {
        background-position: 0px -608px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-baidumap {
        background-position: 0px -976px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-pagebreak {
        background-position: 0px -1024px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-anchor {
        background-position: 0px -1168px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-link {
        background-position: 0px -624px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-unlink {
        background-position: 0px -640px;
        width: 16px;
        height: 16px; }
      .ke-container .ke-toolbar .ke-outline .ke-icon-about {
        background-position: 0px -672px;
        width: 16px;
        height: 16px; }

/*# sourceMappingURL=good_add.css.map */
