<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>ECSHOP管理系统</title>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/control.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
	<div id="header">
		<div id="header-div">
			<div id="logo-div">
				<img src="imgs/topLogo.png" alt="" />
			</div>
			<div id="submenu-div">
				<ul>
					<li>
						<a href="">
							<img src="imgs/topmune_01.png" alt="" />
							<span>开店向导</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="imgs/qingchu.png" alt="" />
							<span>清除缓存</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="imgs/topmune_07.png" alt="" />
							<span>关于ECSHOP</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="imgs/topmune_007.png" alt="" />
							<span>帮助</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="imgs/topmune_06.png" alt="" />
							<span>查看网店</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="imgs/topmune_05.png" alt="" />
							<span>管理员留言</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="imgs/topmune_04.png" alt="" />
							<span>个人设置</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="imgs/topmune_03.png" alt="" />
							<span>刷新</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="imgs/topmune_02.png" alt="" />
							<span>记事本</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="imgs/topmune_01.png" alt="" />
							<span>开店向导</span>
						</a>
					</li>
					<li style="width:102px;border-left:none">
						<a href="" style="width:102px;font-weight:bold;color:#ff0">
							<img src="imgs/topmune_09.png" alt="" />
							<span>更多模板堂产品</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="nav">
		<div id="menu-div">	
			<ul>
				<li class="fix-spacel">&ensp;</li>
				<li>
					<a href="">
						<img src="imgs/index-11_07.png" width="17" height="18" align="absmiddle" alt="" />
						<span>起始页</span>
					</a>
					<span class="muneFG"></span>
				</li>
				<li>
					<a href="">
						<img src="imgs/index-11_41.png" width="17" height="18" align="absmiddle" alt="" />
						<span>设置导航栏</span>
					</a>
					<span class="muneFG"></span>
				</li>
				<li>
					<a href="">
						<img src="imgs/index-11_09.png" width="17" height="18" align="absmiddle" alt="" />
						<span>商品管理</span>
						<span class="num">32</span>
					</a>
					<span class="muneFG"></span>
				</li>
				<li>
					<a href="">
						<img src="imgs/dd.png" width="17" height="18" align="absmiddle" alt="" />
						<span>订单管理</span>
						<span class="num">0</span>
					</a>
					<span class="muneFG"></span>
				</li>
				<li>
					<a href="">
						<img src="imgs/index-11_13.png" width="17" height="18" align="absmiddle" alt="" />
						<span>广告管理</span>
						<span class="num">0</span>
					</a>
					<span class="muneFG"></span>
				</li>
				<li>
					<a href="">
						<img src="imgs/index-11_19.png" width="17" height="18" align="absmiddle" alt="" />
						<span>用户评论</span>
						<span class="num">0</span>
					</a>
					<span class="muneFG"></span>
				</li>
				<li>
					<a href="">用户评论</a>				
				</li>
				<li>
					<a href="">商品列表</a>				
				</li>
				<li>
					<a href="">会员列表</a>				
				</li>
				<li>
					<a href="">商品设置</a>				
				</li>
				<li>
					<a href="">移动版</a>				
				</li>
				<li>
					<a href="">服务市场</a>				
				</li>
				<li>
					<a href="">商品回收站</a>				
				</li>
				<li>
					<a href="">添加新商品</a>				
				</li>
				
		</ul>				
			<br class="clear"/>
			
		</div>
	</div>	
	<div id="box">
		<div id="list-div" style="cursor:auto;">
			<div id="tabbar-div">
				<p>
					<span class="tab-front" id="menu-tab">导航菜单</span>
				</p>
			</div>
			<div id="main-div">			
				<ul id="menu-ul">				
					<li class="collapse ico_1">商品管理
						<ul style="display:block;">
							<li class="menu-item">
								<a href="http://localhost:8080/list" target="mainContent">商品列表</a>
							</li>
							<li class="menu-item">
								<a target="mainContent" href="http://localhost:8080/goods_add">添加新商品</a>
							</li>
							<li class="menu-item">
								<a href="">商品分类</a>
							</li>
							<li class="menu-item">
								<a href="">用户评论</a>
							</li>
							<li class="menu-item">
								<a href="">商品品牌</a>
							</li>
							<li class="menu-item">
								<a href="">商品类型</a>
							</li>
							<li class="menu-item">
								<a href="">商品回收站</a>
							</li>
							<li class="menu-item">
								<a href="">图片批量处理</a>
							</li>
							<li class="menu-item">
								<a href="">图片批量上传</a>
							</li>
							<li class="menu-item">
								<a href="">商品批量上传</a>
							</li>
							<li class="menu-item">
								<a href="">商品批量导出</a>
							</li>
						</ul>
					</li>
					<li class="collapse ico_2">促销管理
						<ul style="display:none;">
							<li class="menu-item">
								<a href="">商品列表</a>
							</li>
							<li class="menu-item">
								<a href="">添加新商品</a>
							</li>
							<li class="menu-item">
								<a href="">商品分类</a>
							</li>
							<li class="menu-item">
								<a href="">用户评论</a>
							</li>
							<li class="menu-item">
								<a href="">商品品牌</a>
							</li>
							<li class="menu-item">
								<a href="javascript:;">商品类型</a>
							</li>
							<li class="menu-item">
								<a href="">商品回收站</a>
							</li>
							<li class="menu-item">
								<a href="">图片批量处理</a>
							</li>
							<li class="menu-item">
								<a href="">图片批量上传</a>
							</li>
							<li class="menu-item">
								<a href="">商品批量上传</a>
							</li>
							<li class="menu-item">
								<a href="">商品批量导出</a>
							</li>
						</ul>
					</li>
					<li class="collapse ico_3">订单管理</li>
					<li class="collapse ico_4">广告管理</li>
					<li class="collapse ico_5">报表统计</li>
					<li class="collapse ico_6">文章管理</li>
					<li class="collapse ico_7">会员管理</li>
					<li class="collapse ico_8">权限管理</li>
					<li class="collapse ico_9">系统管理</li>
					<li class="collapse ico_10">模板管理</li>
					<li class="collapse ico_11">数据库管理</li>
					<li class="collapse ico_12">短信管理</li>
					<li class="collapse ico_13">推荐管理</li>
					<li class="collapse ico_14">邮件群发管理</li>
					<li class="collapse ico_15">移动版管理</li>
					<li class="collapse ico_15">模板堂知识库</li>
				</ul>
			</div>
		</div>
		<div id="main">
			<iframe name="mainContent"  src="">			
			</iframe>
		</div>
	</div>
</body>
<script>
	$(".collapse").click(function(e){
		var e = e || event;
		e.stopPropagation();
	})
	$(".menu-item").click(function(e){
		var e = e || event;
		e.stopPropagation();
		$(this).css("background-color","#797979")
			   .siblings()
			   .css("background-color","#575757")		
	})
	$(".collapse:has(ul)").click(function(){
		$(this).children("ul").toggle(1000);
	})
</script>
</html>