<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>添加新商品</title>
	<link rel="stylesheet" href="/stylesheets/good_add.css" />
	
</head>
<body>
	 <h1>
	 	<span class="action-span">
	 		<a href="">商品列表</a>
	 	</span>
	 	<span class="action-span1">
	 		<a href="">ECSHOP管理中心</a>
	 	</span>
	 	<span class="action-span1">
	 		<a href="">-添加新商品</a>
	 	</span>
	 	<span class="help_sub">
	 		<a href="">
	 			<img src="imgs/jnsy.png" alt="" />
	 		</a>
	 	</span>
	 </h1>
</body>
</html>