<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>添加新商品</title>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/good_add.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
	 <h1>
	 	<span class="action-span">
	 		<a href="">商品列表</a>
	 	</span>
	 	<span class="action-span1">
	 		<a href="">ECSHOP管理中心</a>
	 	</span>
	 	<span class="action-span1">
	 		<a href="">-添加新商品</a>
	 	</span>
	 	<span class="help_sub">
	 		<a href="">
	 			<img src="imgs/jnsy.png" alt="" />
	 		</a>
	 	</span>
	 	<div style="clear:both"></div>
	 </h1>
	 <div class="tab-div">
	 	<div id="tabbar-div">
	 		<p class="tab-change">
	 			<span class="tab-front">通用信息</span>
	 			<span class="tab-back">详细描述</span>
	 			<span class="tab-back">其他信息</span>
	 			<span class="tab-back">商品属性</span>
	 			<span class="tab-back">商品相册</span>
	 			<span class="tab-back">关联商品</span>
	 			<span class="tab-back">配件</span>
	 			<span class="tab-back">关联文章</span>
	 		</p>
	 	</div>
	 	<div id="tabbody-div">
	 		<form action="" class="goods_add">
	 			<table width="90%" align="center" class="goods_info">
	 				<tbody>
	 					<tr>
	 						<td class="label">商品名称：</td>
	 						<td>
	 							<input type="text" name="goods_name" style="float:left;" size="30"/>
		 						<div style="background-color:;float:left;margin:10px 0 0 5px;" id="font_color" onclick="ColorSelecter.Show(this);">
		 							<img src="imgs/color_selecter.gif" style="margin-top:-10px;" alt="" />
		 						</div>
		 						<input type="hidden" id="goods_name_color" name="goods_name_color" />&nbsp;
		 						<select name="goods_name_style" id="">
		 							<option value="">字体样式</option>
		 							<option value="">加粗</option>
		 							<option value="">斜体</option>
		 							<option value="">下划线</option>
		 							<option value="">删除线</option>
		 						</select>
		 						<span class="require-field">*</span>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">
	 							<a href="">
	 								<img src="imgs/notice.gif" width="16" height="16" border="0" alt="" />
	 							</a>
	 							商品货号：
	 						</td>
	 						<td>
	 							<input type="text" name="goods_sn" size="20"/>
	 							<span id="goods_sn_notice"></span>
	 							<br />
	 							<span class="notice-span" style="display:block">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">商品分类：</td>
	 						<td>
	 							<select name="cat_id" id="">
	 								<option value="0">请选择...</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;衬衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;短袖衬衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;长袖衬衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;裤子</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;休闲短裤</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;休闲长裤</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;牛仔裤</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;牛仔分裤</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;连身裤</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;T恤/POLO</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;短袖T恤</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;长袖T恤</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;POLO</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;裙</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;连衣裙</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;吊带裙</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;半裙</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;衬衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;分袖衬衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;长袖衬衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;短袖衬衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;针织衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;套头衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;开衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;短袖针织衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;中老年服装</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;裤装</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;裙装</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;T恤</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;衬衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;针织衫</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;外套</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;风衣</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;棉服</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;卫衣</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;皮衣</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;西装</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;夹克</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;大衣</option>
	 								<option value="">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;羽绒服</option>	 								
	 							</select>
		 						<a href="" class="special">添加分类</a>
		 						<span>
		 							<input type="text" size="10" name="addedCategoryName"/>
		 							<a href="" class="special">确定</a>
		 							<a href="" class="special">分类管理</a>
		 							<a href="" class="special"><<</a>	 							
		 						</span>
		 						<span class="require-field">*</span>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">扩展分类：</td>
	 						<td>
	 							<input type="button" value="添加" class="button"/>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">商品品牌：</td>
	 						<td>
	 							<select name="brand_id" id="">
	 								<option value="0">请选择...</option>
	 								<option value="">gr</option>
	 								<option value="">空间大师</option>
	 								<option value="">溢彩大师</option>
	 								<option value="">EVENY</option>
	 								<option value="">圣迪奥</option>
	 								<option value="">韩都衣舍</option>
	 								<option value="">betu百图</option>
	 								<option value="">艾夫斯</option>
	 								<option value="">太平鸟</option>
	 								<option value="">O.SA</option>
	 								<option value="">美好家</option>
	 								<option value="">生活成品</option>
	 								<option value="">kk</option>
	 								<option value="">帮宝适</option>
	 								<option value="">贝亲</option>
	 								<option value="">雅培</option>
	 								<option value="">好事达</option>
	 								<option value="">千宏</option>	 												
	 							</select>
		 						<a href="" class="special">添加品牌</a>
		 						<span>
		 							<input type="text" size="10" name="addedCategoryName"/>
		 							<a href="" class="special">确定</a>
		 							<a href="" class="special">品牌管理</a>
		 							<a href="" class="special"><<</a>	 							
		 						</span>
		 						<span class="require-field">*</span>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">本店售价：</td>
	 						<td>
	 							<input type="text" name="shop_price" value="0" size="20"/>
	 							<input type="button" value="按市场价计算"/>
	 							<span class="require-field">*</span>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">
	 							<a href="">
	 								<img src="imgs/notice.gif" width="16" height="16" border="0" alt="" />
	 							</a>
	 							会员价格：
	 						</td>
	 						<td>
	 							注册用户
	 							<input type="text" size="8" value="-1" class="input02"/>
	 							代销用户
	 							<input type="text" size="8" value="-1" class="input02"/>
	 							vip
	 							<input type="text" size="8" value="-1" class="input02"/>
	 							<br />
	 							<span class="notice-span" style="display:block;">会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每一个等级指定一个固定价格</span>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">
	 							<a href="">
	 								<img src="" alt="" width="16" height="16" border="0"/>
	 							</a>
	 							商品优惠价格：
	 						</td>
	 						<td>
	 							<table width="100%" align="center">
	 								<tbody>
	 									<tr>
	 										<td>
	 											<a href="">[+]</a>
	 											优惠数量
	 											<input type="text" size="8" class="input02"/>优惠价格
	 											<input type="text" size="8" class="input02"/>
	 										</td>
	 									</tr>
	 								</tbody>
	 							</table>
	 							<span class="notice-span" style="display:block">购买数量达到优惠数量时享受优惠价格</span>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">市场售价：</td>
	 						<td>
	 							<input type="text" value="0" size="20"/>
	 							<input type="button" value="取整数"/>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">虚拟销量：</td>
	 						<td>
	 							<input type="text" value="0" size="20"/>	 							
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">
	 							<a href="">
	 								<img src="imgs/notice.gif" width="16" height="16" border="0" alt="" />
	 							</a>
	 							赠送消费积分数：
	 						</td>
	 						<td>
	 							<input type="text" name="goods_sn" size="20"  value="-1"/>
	 							<span id="goods_sn_notice"></span>
	 							<br />
	 							<span class="notice-span" style="display:block">购买该商品是赠送消费积分数，-1表示按商品价格赠送</span>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">
	 							<a href="">
	 								<img src="imgs/notice.gif" width="16" height="16" border="0" alt="" />
	 							</a>
	 							赠送等级积分数：
	 						</td>
	 						<td>
	 							<input type="text" name="goods_sn" size="20"  value="-1"/>
	 							<span id="goods_sn_notice"></span>
	 							<br />
	 							<span class="notice-span" style="display:block">购买该商品是赠送等级积分数，-1表示按商品价格赠送</span>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">
	 							<a href="">
	 								<img src="imgs/notice.gif" width="16" height="16" border="0" alt="" />
	 							</a>
	 							积分购买金额：
	 						</td>
	 						<td>
	 							<input type="text" name="goods_sn" size="20"  value="0"/>
	 							<span id="goods_sn_notice"></span>
	 							<br />
	 							<span class="notice-span" style="display:block">(此处需填写金额)购买该商品是最多可以使用积分的金额</span>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">
	 							<label for="is_promote">
	 								<input type="checkbox" id="is_promote" name="is_promote" value="1"/>促销价：
	 							</label>
	 						</td>
	 						<td id="promote_price">
	 							<input type="text" id="promote_1" name="promote_1" value="0" size="20" disabled/>
	 						</td>	 						
	 					</tr>
	 					<tr>
	 						<td class="label">促销日期：</td>
	 						<td>
	 							<input type="text" size="12" value="2018-02-28" readonly="readonly"/>
	 							<input type="button" value="选择" class="button" disabled/>-
	 							<input type="text" size="12" value="2018-03-27" readonly="readonly"/>
	 							<input type="button" value="选择" class="选择" disabled/>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">上传商品图片：</td>
	 						<td>
	 							<input type="file" name="goods_img" size="35"/>
	 							<img src="imgs/no.gif" alt="" />
	 							<br />
	 							<input type="text" size="40" value="商品图片外部URL" style="color:#aaa"/>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td class="label">上传商品缩略图：</td>
	 						<td>
	 							<input type="file" name="goods_thumb" size="35"/>
	 							<img src="imgs/no.gif" alt="" />
	 							<br />
	 							<input type="text" size="40" value="商品缩略图外部URL" style="color:#aaa"/>
	 							<br />
	 							<label for="auto_thumb">
	 								<input type="checkbox" id="auto_thumb" name="auto_thumb" checked="true" value="1"/>
	 								自动生成商品缩略图
	 							</label>
	 						</td>
	 					</tr>
	 				</tbody>
	 				
	 			</table>
	 			<div class="button-div">
	 				<input type="button" value="确定" class="button"/>
	 				<input type="reset" value="重置" class="button"/>
	 			</div>
	 		</form>
	 		<form action="" class="goods_add" style="display:none">
	 			<table width="90%" style="display:table">
	 				<tbody>
	 					<tr>
	 						<td>
	 							<div class="ke-container ke-container-default" style="width:100%">
	 								<div class="ke-toolbar" unselectable="on">
	 									<span class="ke-outline" unselectable="on">
	 										<span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-source" unselectable="on"></span>
	 									</span>
	 									<span class="ke-inline-block ke-separator" ></span>
	 									<span class="ke-outline" unselectable="on">
	 										<span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-undo" unselectable="on"></span>
	 									</span>
	 									<span class="ke-outline" unselectable="on">
	 										<span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-redo" unselectable="on"></span>
	 									</span>
	 									<span class="ke-inline-block ke-separator" ></span>
	 									<span class="ke-outline" unselectable="on">
	 										<span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-preview" unselectable="on"></span>
	 									</span>
	 									<span class="ke-outline" unselectable="on">
	 										<span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-print" unselectable="on"></span>
	 									</span>
	 									<span class="ke-outline" unselectable="on">
	 										<span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-template" unselectable="on"></span>
	 									</span>
	 								</div>
	 							</div>
	 						</td>
	 					</tr>
	 				</tbody>
	 			</table>
	 		</form>
	 		<form action="" class="goods_add" style="display:none">
	 			hello 3
	 		</form>
	 		<form action="" class="goods_add" style="display:none">
	 			hello 4
	 		</form>
	 		<form action="" class="goods_add" style="display:none">
	 			hello 5
	 		</form>
	 		<form action="" class="goods_add" style="display:none">
	 			hello 6
	 		</form>
	 		<form action="" class="goods_add" style="display:none">
	 			hello 7
	 		</form>
	 		<form action="" class="goods_add" style="display:none">
	 			hello 8
	 		</form>
	 	</div>	 	
	 </div>
	 <div id="footer">
	 	共执行9个查询，用时0.023416秒，Gzip已禁用，内存占用3.581MB
	 	<br />
	 	
            版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
	 </div>
</body>
<script>
	$(".tab-change span").click(function(){
		$(this).css({"background":"#fefefe","font-weight":"bold","color":"#000"})
			   .siblings()
			   .css({"background":"#efefef","font-weight":"bold","color":"#787878"})
		$(".goods_add").eq($(this).index())
					   .css("display","block")
					   .siblings()
					   .css("display","none")
	})
</script>
</html>